*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size:22px;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ms-grey{
    color: #cbcbcb;
}

.ms-container{
    position: relative;
    height: 350px;
    border: black 1px solid;
    width: 700px;
   
}

.item{
    display: none;
    position: relative;
}

.item.active{
    display: block;
}


img{
    object-fit: fill;
    width: 100%;
    height: 350px;
}

.next,.previous {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.next {
    top: 10px;
}

.previous{
    bottom: 10px;
}


.content {
    width: 300px;
    height: 45%;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 5px;
}

.content h2,
.content p {
    margin: 0;
}